<header class="application__header">
  <h1 class="application__title">{{link-to "Music App" "tracks"}}</h1>
</header>
<div class="application__layout">
  <nav class="application__master">
    {{outlet "master"}}
  </nav>
  <main class="application__detail">
    {{outlet "detail"}}
  </main>
</div>
